body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    margin: 0;
    background-color: #521CC0;
}

header nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

header nav .nav-right-section {
    width: 500px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
header nav .nav-right-section li{
    margin-right: 30px;
    margin-left: 30px;
}

header nav .nav-right-section a{
    color: #ffffff;
}

header .upload-property{
    background-color: #521CC0;
    border-color: #ffffff;
    border: 2px solid #ffffff;
    width: 200px;
    height: 40px;
    border-radius: 9px;
}

main .top-section {
    background-image: url(../images/Artboard.png);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 500px;
    width: 100%;
    padding: 100px;
    padding-top: 2%;
    padding-left: 10%;
    color: #ffffff;
}

main .top-section h1 {
    max-width: 550px;
    font-size: 45px;
    font-weight: 500;
    font-stretch: semi-condensed;
}

.main-button {
    margin-top: 40px;
    border-radius: 9px;
    background-color: #ffffff;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #601DE4;
    width: 350px;
    box-shadow: 0 0 5px #381383;
}

.main-button:hover {
    background-color: #e8defe;
    box-shadow: 0 0 0px #381383;
}

main .three-steps {
    height: 1000px;
}

main .latest-properties{
    height: 500px;
    background: #f1f1f1;
}

main .upload-property{
    height: 500px;
    background: #ffffff;
}

footer {
    height: 200px;
    background-color: #601DE4;
}

main .three-steps{
    color: #242424;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
main .organize-step-one{
    display: flex;
    flex-wrap: wrap;
}

main .img-oval-chat{
    display: flex;
    justify-content: flex-end;
}